/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */


/*
 * Examples
 * (To see them, uncomment and save)
 */

// style the background color of the tree view
.tree-view {
    // background-color: whitesmoke;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
    // color: white;
    // background-color: hsl(180, 24%, 12%);
}

// style UI elements inside atom-text-editor
atom-text-editor .cursor {
    // border-color: lightgreen;
}

.icon[data-name$=".less"]:before {
    color: lighten(green, 40%);
}

.icon[data-name$=".js"]:before,
.icon[data-name$=".jsx"]:before {
    color: lighten(orange, 25%);
}

.icon[data-name$=".spec.js"]:before,
.icon[data-name$=".spec.jsx"]:before {
    color: darkorange;
}

.icon[data-name$=".jestspec.js"]:before,
.icon[data-name$=".jestspec.jsx"]:before {
    color: lighten(red, 20%);
}

.icon[data-name$="-redux.jsx"]:before {
    color: lighten(darkblue, 50%);
}
